.page-body{
    font-family: Ubuntu, sans-serif;
    background: url("../images/background-sign-up.png") top / cover;
}

.page-header{
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 80px;
}

.title-header{
    margin: 0;
    font-size: 22px;
    line-height: 22px;
}

.title-header__link{
    color: #FFFFFF;
    transition: color 0.4s;
}

.title-header__link:hover{
    color: #3CB878;
}

.right-edge-box-header{
    display: flex;
    align-items: center;
}

.right-edge-box-header__link{
    margin-left: 25px;
}

.right-edge-box-header__link-color{
    transition: fill 0.4s;
}

.right-edge-box-header__link:hover .right-edge-box-header__link-color{
    fill: #3CB878;
}

.welcome-box-header::before{
    content: "";
    margin: 0 25px;
    height: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0.5;
}

.welcome-box-header{
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.welcome-box-header__link{
    color: #FFFFFF;
    transition: color 0.4s;
}

.welcome-box-header__link:hover{
    color: #3CB878;
}

.page-main{
    min-height: calc(100vh - 63px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-box{
    width: 444px;
    padding: 30px 60px 40px;
    background: #FFFFFF url("../images/sign-up-square.png") no-repeat 0 29px / 18px 18px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}

.signup-login-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sign-up-box__title{
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sign-up-box__link{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.sign-up-box__link:hover{
    text-decoration: underline;
}

.sign-up-social-box{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 30px;
}

.sign-up-button{
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.sign-up-button:focus{
    outline: none;
}

.facebook{
    padding: 12px 22px 12px 17px;
    background: #305DB8;
}

.google{
    padding: 15px 27px 15px 12px;
    background: #C6422C;
}

.facebook-caption::before{
    content: "";
    margin: 0 18px;
    height: 28px;
    border-right: 1px solid #0A162F;
    opacity: 0.1;
}

.google-caption::before{
    content: "";
    margin: 0 30px 0 7px;
    height: 28px;
    border-right: 1px solid #0A162F;
    opacity: 0.1;
}

.sign-up-separators{
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}

.sign-up-separators::before, .sign-up-separators::after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: calc(50% - 1ch);
    height: 1px;
    background: #F2F2F2;
}

.sign-up-form{
    padding-top: 11px;
}

.sign-up-input{
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 14px 20px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.sign-up-input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.sign-up-input::placeholder{
    color: #BEBEBE;
}

.sign-up-label{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}

.sign-up-checkbox{
    display: none;
}

.check-border{
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    padding: 1.5px 2px;
    border: 1px solid #F2F2F2;
}

.check-image{
    display: block;
    opacity: 0;
}

.sign-up-checkbox:checked + .sign-up-label .check-image {
    opacity: 1;
}

.create-account{
    background: rgba(60, 184, 120, 0.8);
    width: 100%;
    padding: 16px 0;
    margin-top: 20px;
    justify-content: center;
}