.honey-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 20%);

  &__empty-state {
    grid-column-start: 3;
    font-size: 2em;
    text-align: center;
  }
}