*,
*::after,
*::before {
    box-sizing: border-box;
}

.slider-box {
    position: relative;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    background-color: rgba(83, 83, 94, 0.3);
}

.img-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    transition: left 0.6s ease-out;
}

.img-list > li {
    width: 1000px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.arrow-btn.left-btn {
    left: 0;
    padding: 10px;
}

.arrow-btn.right-btn {
    right: 0;
    padding: 10px 23px;
}

.arrow-btn:hover {
    color: #64e725;
    background-color: rgba(0, 0, 0, 0.7);
}