body {
    font-family: Montserrat;
}

.page-header {
    display: flex;
}

.main-content {
    background: rgba(0, 0, 0, 0.0001);
}

.page-footer {
    text-align: right;
    padding-bottom: 29px;
    padding-top: 40px;
}

.menu-header {
    display: flex;
    padding: 0;
    justify-content: center;
}

.menu-header_item {
    padding: 25.5px 36px;
}

.menu-header_link {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.menu-header_item.menu-header_download {
    padding-left: 14px;
}

.main-image {
    width: 100%;
    margin-bottom: 49px;
}

.container {
    width: 1280px;
    margin: 0 auto
}

.main-slogan {
    margin: 0 auto 38px auto;
    font-size: 22px;
    text-align: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.text-block {
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 28px;
    margin-left: 67.5px;
    margin-right: 67.5px;
}

.button-main {
    display: inline-block;
    position: relative;
    left: calc(50% - 95px);
    margin: calc(66px - 28px) auto 42px auto;
    padding: 18px 43.5px 17px 42.5px;
    border-radius: 4px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    background-color: #FF0000;
    color: #FFFFFF;
}

.copyright-footer {
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 105px;
}



