body {
    height: 100vh;
    margin: 0;
    padding-top: 100px;
}

.minebox {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 0 5px 10px;
    background-color: #bdc0c6;
}

.minebox-stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

#reset-btn {
    width: 160px;
}

table {
    border-collapse: collapse;
}

table.show-all-cells td {
    background-color: transparent;
}

td {
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid black;
    background-color: grey;
    text-align: center;
    font-size: 30px;
    color: blue;
}

td.active {
    background-color: transparent;
}

img[data-content="bomb"] {
    position: relative;
    z-index: -1;
    display: block;
    margin: 0 auto;
}

img[data-content="flag"] {
    position: absolute;
    left: 2px;
    top: 2px;
}