.page-body{
    background: url("../images/background-milan.png") no-repeat center / cover;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.container{
    width: 1030px;
    margin: 0 auto;
}

.page-header{
    padding-top: 46px;
}

.page-header > .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-box-header{
    display: grid;
    grid-template: max-content / auto 90px;
    grid-column-gap: 8px;
    color: #FFFFFF
}

.logo-box-header:hover img{
    opacity: 0;
}

.logo-box-header:hover{
    background: url("../images/logo-hover.png") no-repeat;
    color: #F26522;
}

.title-header{
    font-size: 29px;
    line-height: 18px;
    margin: 10px 0 0;
}

.sub-title-header{
    font-size: 18px;
    line-height: 18px;
}

.contact-box-header{
    text-align: right;
}

.contact-box-link{
    display: block;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.contact-box-link:hover{
    color: #F26522;
}

.page-main{
    padding-bottom: 50px;
}

.tour-list{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 37px 62px;
    text-align: center;
}

.tour-list__link{
    color: #FFFFFF;
}

.tour-list__imgbox{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: solid transparent;
    border-width: 0 2px;
    border-image: linear-gradient(#FFFFFF, #35444F, #271609) 2;
}

.tour-list__link:hover{
    color: #F26522;
}

.tour-list__link:hover .tour-list__hoverbox{
    bottom: 0;
    color: #FFFFFF;
}

.tour-list__imgbox img{
    display: block;
}

.tour-list__hoverbox{
    position: absolute;
    bottom: -57px;
    width: 100%;
    transition: bottom 0.4s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background: #F26522;
    text-align: left;
    padding: 7px 16px 12px;
}

.hoverbox__prefix{
    width: 100%;
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}

.hoverbox__price{
    font-size: 20px;
    line-height: 20px;
}

.hoverbox__price::before{
    content: "€";
}

.hoverbox__details{
    font-size: 14px;
    line-height: 14px;
}

.hoverbox__details::after{
    content: ">";
    padding-left: 16px;
}

.tour-list__tour-name{
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
}

.copyright-footer{
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}