*,
*::before,
*::after {
    box-sizing: border-box;
}

.page-body {
    font-family: "Roboto", sans-serif;
}

.main-title {
    text-align: center;
    color: #00acee;
}

.add-post-btn {
    display: block;
    margin: 0 auto 50px;
    height: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    background-color: #00acee;
    color: #ffffff;
    font-weight: bold;
}

.add-post-btn:focus {
    outline: none;
}

.posts-section {
    margin: 0 auto;
    width: 700px;
}

.post {
    background-color: #f6f9fb;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.post a {
    color: #4a4c4f;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.post-title, .post-text {
    width: 100%;
    border: 0;
    resize: none;
    background-color: transparent;
    font-family: inherit;
}

.post-title {
    font-size: 2em;
}

.post-text {
    min-height: 100px;
    font-size: 1em;
}

.post-title:focus, .post-text:focus {
    outline: none;
}

.post-title.editable, .post-text.editable {
    border: 1px solid #00acee;
}

.post-btn {
    height: 30px;
    width: 60px;
    cursor: pointer;
    color: #ffffff;
    background-color: #00acee;
    border: 1px solid #f6f9fb;
    border-radius: 5px;
}

.post-btn:focus {
    outline: none;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
}

.modal-overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #f6f9fb;
}

.loader {
    margin: 0 auto;
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}