.game-diff {
    max-width: 280px;
    margin: 0 auto;
}

.game-diff.hided {
    display: none;
}

.game-table {
    position: relative;
    margin: 0 auto;
    border-collapse: collapse;
}

.game-table.inactive {
    opacity: 0.3;
}

.game-table td {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.game-table td.active {
    background-color: blue;
}

.game-table td.whacked {
    background-color: green;
}

.game-table td.moled {
    background-color: red;
}