body {
    background: rgba(0, 0, 0, 0.0001);
    font-family: Roboto;
}

.page-header {
    padding-bottom: 50px;
}

.page-footer {
    padding-bottom: 30px;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo-header{
    display: block;
    margin: 47px auto 38px;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}

.lightblue-color{
    color: #49cbff;
}

.menu-header {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.menu-header_item {
    border-left: 1px solid #FFFFFF;
}

.menu-header_link {
    display: inline-block;
    padding: 26px 36px 19px;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.menu-header_item:hover{
    background: #222F3A;
}

.aside-content{
    display: inline-block;
    vertical-align: top;
    margin-right: 48px;
    width: 344px;
}

.menu-aside{
    border: 1px solid #000000;
}

.menu-aside_link{
    display: inline-block;
    width: 100%;
    padding: 28px 0 28px 44px;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.menu-aside_link:hover {
    background-color: #DBDBDB;
    color: #35444F;
    padding-left: calc(44px + 1em);
}

.main-content{
    display: inline-block;
    vertical-align: top;
    width: calc(1280px - 344px - 48px - 4px);
    padding-bottom: 54px;
}

.main-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 529px;
    border: 1px solid #000000;
    overflow: hidden;
}

.img-scale{
    transition: all 0.5s ease-out;
}

.img-scale:hover{
    transform: scale(1.15);
}

.text-block{
    margin: 34px 0 0;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.page-footer > .container{
    display: flex;
    padding: 0 40px;
    background-color: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
    align-items: center;
}

.menu-footer{
    display: flex;
}

.menu-footer_item{
    margin-right: 20px;
}

.menu-footer_link{
    padding: 20px 0;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.copyright-footer{
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}

.menu-footer_link:hover{
    color: #3181A6;
    padding-bottom: calc(20px - 8px);
    border-bottom: 1px solid #3181A6;
}