.body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100%;
  width: 100%;
  padding: 0 25px 0;
  margin: 0 auto;

  @media(min-width: $tablet-width) {
    padding: 0 80px 0;
  }

  @media(min-width: $desktop-width) {
    width: 1180px;
    padding: 0;
  }
}

.menu-btn {
  margin: 23px 0;
  width: 44px;
  padding: 12px 13px;
  background-color: #000000;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &__bar {
    display: block;
    border-top: 2px solid #FFFFFF;
    margin: 2px 0;
    width: 100%;
    transition: 0.4s;
  }

  &--active > &__bar--top {
    transform: rotate(-45deg) translate(-2px, 2px);
  }

  &--active > &__bar--mid {
    opacity: 0;
  }

  &--active > &__bar--bot {
    transform: rotate(45deg) translate(-4px, -3px);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.section-title {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  @include uppercase-bold;
  color: $primary-dark-color;

  &--light {
    color: #FEFEFE;
  }
}