.header {
  padding-bottom: 38px;

  & > .container {
    position: relative;
    @include flex-column;
    align-items: flex-end;
  }

  &__img {
    width: 100%;

    & > img {
      display: block;
      width: 100%;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
  }

  @media(min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 38px + 23px;
  width: 182px;

  &--visible {
    display: block;
  }

  &__box {
    background-color: #F5F5F5;
    @media (min-width: $tablet-width) {
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    position: static;
    margin: 41px 0;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin: 45px 0 51px;
  }
}

.menu__link {
  display: block;
  width: 100%;
  padding: 4px 12px;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: $primary-dark-color;

  &--active {
    color: #57A4A4;
  }

  &:hover {
    background-color: #E5E5E5;
  }

  @media (min-width: $tablet-width) {
    display: inline;
    padding: 4px 0;
    margin: 0 17px;
    .menu__item:first-child & {
      margin-left: 0;
    }
    .menu__item:last-child & {
      margin-right: 0;
    }
  }

  @media(min-width: $desktop-width) {
    margin: 0 34px;
  }
}