.insta {
  position: relative;
  padding: 38px 0 42px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @media(min-width: $tablet-width) {
      max-width: 780px;
    }

    @media(min-width: $desktop-width) {
      max-width: 100%;
    }
  }

  &__title {
    width: 100%;

    @media(min-width: $tablet-width) {
      width: 50%;
    }

    &--s {
      @media(min-width: $tablet-width) {
        display: none;
      }
    }

    &--l {
      display: none;
      @media(min-width: $tablet-width) {
        display: block;
      }
    }
  }

  &__link {
    display: none;
    width: 50%;
    font-size: 13px;
    line-height: 22px;
    @include uppercase-bold;
    color: $primary-dark-color;
    text-align: right;

    @media(min-width: $tablet-width) {
      display: inline;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    margin-top: 13px;
  }

  &__item {
    margin: 0 5px;
    width: 301px;

    &:nth-last-child(-n+3) {
      display: none;
    }

    @media(min-width: $tablet-width) {
      width: 250px;

      &:nth-child(-n+3) {
        display: block;
      }
    }

    @media(min-width: $desktop-width) {
      width: 285px;

      &:nth-child(4) {
        display: block;
      }
    }
  }

  @media(min-width: $tablet-width) {
    padding: 47px 0 50px;
    background-color: #f7f7f7;
  }
}