.posts {
  padding-bottom: 12px;

  @media(min-width: $tablet-width) {
    padding-bottom: 32px;
  }

  &__section-title {
    margin-bottom: 23px;
  }

  &__list {
    @include flex-column;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    &:nth-child(4) {
      display: none;

      @media(min-width: $tablet-width) {
        display: flex;
      }
    }

    @media(min-width: $desktop-width) {
      width: 50%;

      &:nth-child(odd) {
        padding-right: 40px;
      }
    }
  }

  &__link {
    @include flex-column;
    align-items: flex-start;
    margin-bottom: 28px;

    @media(min-width: $tablet-width) {
      width: 100%;
      flex-direction: row;
    }
  }

  &__img {
    display: block;
  }

  &__wrapper {
    padding-top: 11px;
    @media(min-width: $tablet-width) {
      padding-top: 0;
      margin-left: 20px;
    }
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: $primary-dark-color;
  }

  &__text {
    display: none;
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;

    @media(min-width: $tablet-width) {
      display: block;
    }
  }

  &__info {
    margin: 0;
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
  }
}