table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid blue;
}

.active {
    background-color: black;
}

.revert-table {
    background-color: black
}

.revert-table .active {
    background-color: white;
}