body {
    background: #E5E5E5;
    font-family: Arimo;
}

.container{
    width: 1192px;
    margin: 0 auto;
}

.table{
    width: 100%;
    background: #F2F2F2;
    border-collapse: collapse;
    border: 25px solid #3A4965;
    text-align: center;
    text-transform: uppercase;
    line-height: 28px;
}

.table thead{
    background: #FAFAFA;
}

.table th{
    color: #FFFFFF;
    padding: 20px;
}

td{
    color: #484848;
    padding: 20px;
    border-right: 1px solid #D7D7D7;
}

.second-color-row{
    background: #E3E3E3;
}

.price-heading{
    width: 313px;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.price-heading__pricing-plan{
    display: block;
    font-size: 30px;
}

.standard-plan-header{
    background: #89C331;
    font-size: 24px;
}

.ultimate-plan-header{
    background: #F04A56;
    font-size: 30px;
}

.premium-plan-header{
    background: #20807C;
    font-size: 24px;
}


.price-per-month{
    font-size: 60px;
    font-weight: bold;
}


.cents-per-month{
    display: inline-block;
    position: relative;
    top: -0.4em;
    font-size: 24px;
    text-align: left;
}


.per-month{
    display: block;
    font-size: 18px;
    font-weight: normal;
}


.button-footer{
    display: inline-block;
    padding: 19px 60px 10px;
    font-weight: bold;
    line-height: 16px;
    border-radius: 5px;
    border-bottom: 9px solid;
    color: #FFFFFF;
}

.contact-us{
    padding-left: 45px;
    padding-right: 45px;
}

.vdarkgrey-color{
    background: #484848;
    border-color: #404040;
}

.moderate-green-color{
    background: #89C331;
    border-color: #79B027;
}

.soft-red-color{
    background: #F04A56;
    border-color: #DF3A46;
}

.dark-cyan-color{
    background: #20807C;
    border-color: #16736F;
}

.vlightgray-color{
    background: #DDDDDD;
}

.first-column-border{
    border-right: 2px solid #D7D7D7;
}






