body {
    background: #E5E5E5;
    font-family: Arimo;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.table{
    width: 100%;
    background: #F2F2F2;
    border-collapse: collapse;
    border: 25px solid #3A4965;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    color: #484848;
}

.table thead{
    border-bottom: 15px solid #3A4965;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

.table td{
    border-bottom: 1px solid #D7D7D7;
}

.first-color-column{
    width: 160px;
    background: #E3E3E3;
}

.second-color-column{
    width: 160px;
    background: #F2F2F2;
}

.price-heading{
    width: 200px;
    font-size: 14px;
    padding: 25px 0;
    line-height: 20px;
}

.price-heading__pricing-plan{
    display: block;
    font-size: 20px;
}

.plan-box{
    padding: 26px 0 19px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: bold;
    border-bottom: 0;
}

.moderate-green-color{
    background: #89C331;
}

.soft-red-color{
    background: #F04A56;
}

.dark-cyan-color{
    background: #20807C;
}

.plan-name{
    display: block;
    font-size: 24px;
}

.plan-price{
    display: block;
    font-size: 36px;
    margin: 7px 0 11px;
}

.per-month{
    font-size: 14px;
    vertical-align: middle;
}

.buy-now-button{
    display: inline-block;
    padding: 8px 35px 2px;
    border-radius: 4px;
    border-bottom: 6px solid #343434;
    background: #414141;
    color: #FFFFFF;
}