.page-body {
    background: #FFFFFF;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.up-button {
    position: fixed;
    display: none;
    right: 0;
    bottom: 120px;
    padding: 20px;
    border-radius: 4px;
    background-color: #89CA62;
    color: #FFFFFF;
    text-transform: uppercase;
}

.section-toggle-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 20px;
    border-radius: 4px;
    background-color: #14B9D5;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    border: 0;
}

.section-toggle-btn:focus {
    outline: none;
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;
}

.logo-navbar {
    margin: 22px 27px;
}

.title-navbar {
    display: inline-block;
    vertical-align: top;
    padding-left: 27px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

ul.menu-navbar {
    display: flex;
    margin-left: -140px;
}

.menu-navbar__item {
    padding: 28px 18px;
}

.menu-navbar__link {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.menu-navbar__link:hover {
    color: #14B9D5;
}

.search-navbar {
    display: block;
    padding: 28px;
    background: #000000;
}

.the-latest-news {
    background: url("../images/header-bg.jpeg") fixed center 760px;
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.header-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
}

.button-header {
    display: inline-block;
    margin: 17px 10px 0;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.subscribe-header {
    padding: 16px 20px;
    background: #89CA62;
}

.articles-header {
    padding: 16px 31px;
    background: #14B9D5;
}

.popular-posts {
    background: #F2F2F2;
    padding: 0 0 40px;
}

.popular-posts a {
    color: #353A3D;
}

.section-title {
    padding: 50px 0;
    margin: 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    text-align: center;
}

.popular-posts-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-height: 900px;
}

.popular-posts-flex__item {
    margin: 0 15px 30px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.popular-clients {
    background: rgba(0, 0, 0, 0.0001) url("../images/parallax-bg.jpeg") fixed center center;
    display: grid;
    grid-template-rows: 240px 1fr 240px;
    grid-template-columns: 1fr;
    align-items: start;
    width: 100%;
    height: 588px;
}

.popular-clients-title {
    align-self: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.popular-clients-line {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    border: 0;
}

.popular-clients-brands {
    display: grid;
    justify-self: center;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    grid-column-gap: 60px;
}

.top-rated-imglist {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-items: center;
}

.top-rated-imglist__item {
    width: 100%;
}

.top-rated-imglist__item > img {
    width: 100%;
}

.hot-news {
    padding-bottom: 30px;
}

.hot-news-grid {
    display: grid;
    width: 1170px;
    grid-template: repeat(4, auto) / repeat(4, 1fr);
    grid-template-areas: "news1 news1 news1 news2" "news3 news3 news4 news4" "news5 news5 news6 news6" "news7 news8 news8 news8";
}

.hot-news > ul {
    margin: 0 auto;
}

.hot-news p {
    margin-bottom: 0;
}

.hot-news img {
    vertical-align: top;
}

.hot-news-box {
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    margin: 0 20px 45px;
}

.hot-news-content {
    display: inline-block;
    vertical-align: top;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    padding-right: 25px;
}

.long-box {
    max-width: 350px;
    padding-top: 40px;
}

.single-box {
    padding: 20px 27px;
}

.hot-news-content__title {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.news1 {
    grid-area: news1;
}

.news2 {
    grid-area: news2;
}

.news3 {
    grid-area: news3;
}

.news4 {
    grid-area: news4;
}

.news5 {
    grid-area: news5;
}

.news6 {
    grid-area: news6;
}

.news7 {
    grid-area: news7;
}

.news8 {
    grid-area: news8;
}

.page-footer {
    background: #000000;
}

.page-footer .container {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 30px 0;
    align-items: center;
}

.copyright-footer {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    margin: 0;
}

.footer-logo-box img {
    vertical-align: top;
}