html{
    overflow: hidden;
}

.page-body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 50px;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.parallax-section{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.parallax-section::before{
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateZ(-150px) scale(4);
    background-blend-mode: multiply;
}

.page-header{
    min-height: 600px;
    padding-top: 30px;
}

.page-header::before{
    background: rgba(0, 0, 0, 0.8) url("../images/bg1.jpg") center 5% / cover no-repeat;
}

.page-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 14vh solid #FFFFFF;
    border-left: 49.5vw solid transparent;
}

.header-box{
    background: #FFFFFF;
    padding: 40px 0;
}

.header-box > .container{
    display: flex;
}

.header-menu{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box__title{
    margin: 0 150px 0 0;
}

.header-box__title-link{
    color: #424F57;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
}

.header-menu__link:hover{
    color: #14AFCA;
}

.header-box__title-name{
    color: #14AFCA;
    font-weight: bold;
    text-transform: uppercase;
}

.header-menu__link{
    font-family: "Open Sans", sans-serif;
    color: #424F57;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
}

.header-title{
    margin-top: 150px;
    font-size: 52px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.header-title > span {
    display: block;
}

.section-title{
    margin: 0;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
    text-transform: uppercase;
}

.section-subtitle{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.899999px;
}

.description-section{
    min-height: 420px;
    padding-top: 120px;
    text-align: center;
}

.description-section__text-block{
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.company-section{
    min-height: 600px;
    text-align: center;
    padding-top: 120px;
}

.company-section::before{
    background: rgba(0, 0, 0, 0.9) url("../images/bg2.jpg") center 20% / cover no-repeat;
}

.company-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 14vh 49.5vw 0 49.5vw;
    border-color: #FFFFFF transparent transparent transparent;
}

.company-section__brands{
    margin-top: 46px;
    display: grid;
    grid-template: auto auto / repeat(4,auto);
    grid-row-gap: 120px;
    align-items: center;
    justify-items: center;
}

.company-section__adobe{
    padding: 18px;
    background: #FCFBFB;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.company-section__adobe > img{
    vertical-align: middle;
}

.on-dark-background__subtitle{
    color: #FFFFFF;
}

.team-section{
    min-height: 700px;
    padding-top: 160px;
    text-align: center;
}

.team-section__membersbox{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
}

.team-section__member:not(:nth-of-type(3)){
    margin-right: 60px;
}

.team-section__member-description{
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

.team-section__member:nth-of-type(2) > img{
    margin-top: 5px;
}

.testimonials-section{
    min-height: 600px;
    padding-top: 190px;
    text-align: center;
}

.testimonials-section::before{
    background: rgba(0, 0, 0, 0.9) url("../images/bg2.jpg") center 30% / cover no-repeat;
}

.testimonials-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 14vh 49.5vw 0 49.5vw;
    border-color: #FFFFFF transparent transparent transparent;
}

.testimonials-section__blockquote{
    margin-top: 48px;
    font-style: italic;
}

.testimonials-section__blockquote-text{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
}

.testimonials-section__blockquote-text + footer{
    padding-right: 125px;
    margin-top: 28px;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
}

.advantages-section{
    min-height: 440px;
    padding-top: 105px;
    text-align: center;
}

.advantages-section__formula{
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
    margin: 1em 100px;
}

.page-footer{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #3D3C3C;
}

.triangle-bottom-right{
    position: absolute;
    bottom:0;
    right: 0;
    border-bottom: 14vh solid #FFFFFF;
    border-left: 49.5vw solid transparent;
}

.triangle-bottom-left{
    position: absolute;
    bottom:0;
    left: 0;
    border-bottom: 14vh solid #FFFFFF;
    border-right: 49.5vw solid transparent;
}