.page-body{
    background: #090907;
    perspective: 200px;
    overflow: hidden;
}

.animation-text{
    margin: 0 auto;
    width: 560px;
    font-size: 2em;
    font-weight: bold;
    color: #facf00;
    animation: swmove 30s ease-in infinite;
}

h1, h2{
    text-align: center;
    font-size: 1em;
}

@keyframes swmove {
    0%{
        transform: rotateX(35deg) translateY(60vh);
    }
    100%{
        transform: rotateX(35deg) translateY(-60vh);
    }
}


